<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winsun.fruitmix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_new_cat"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ddc80f1061d20d4e000596" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Official Website" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavPagerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mediaModule.PhotoSliderActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mediaModule.NewPicChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.manage.UserManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EquipmentSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".GalleryTestActivity" />

        <service
            android:name=".services.ButlerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.RetrieveNewLocalMediaInCameraService"
            android:exported="false" />
        <service
            android:name=".services.RetrieveLocalMediaService"
            android:exported="false" />

        <activity
            android:name=".CreateNewEquipmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <service
            android:name=".services.RetrieveDownloadedFileService"
            android:exported="false" />
        <service
            android:name=".services.CalcNewLocalMediaDigestService"
            android:exported="false" />

        <activity
            android:name=".CreateUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestPhotoListActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.ReverseGeocodeService"
            android:exported="false" />

        <activity
            android:name=".file.view.FileDownloadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invitation.ConfirmInviteUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.view.GroupContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.view.CreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.view.OperatePinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.view.AddFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.view.PinContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".equipment.manage.EquipmentManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".equipment.manage.EquipmentInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestReceiveActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".equipment.manage.ShutDownEquipmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyUserPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.PlayVideoActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullScreenAppTheme" />
        <activity
            android:name=".equipment.manage.ModifyEquipmentLabelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".equipment.initial.InitialEquipmentActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>