<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winsun.fruitmix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- permission for mqtt service -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_new_cat"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ddc80f1061d20d4e000596" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Official Website" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mediaModule.PhotoSliderActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.ButlerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.PlayVideoActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullScreenAppTheme" />

        <!-- mqtt service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".newdesign201804.login.LoginEntranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.introduction.ProductIntroductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.equipment.list.EquipmentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.login.LanLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.equipment.add.AddEquipmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.equipment.add.AddEquipmentByIpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.equipment.reinitialization.ReinitializationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".newdesign201804.equipment.abnormal.HandleAbnormalEquipmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.user.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.mainpage.MainPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.file.move.MoveFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.file.sharedFolder.SharedFolderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.file.permissionManage.PermissionManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".newdesign201804.file.offlineFile.OfflineFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.file.detail.FileDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".newdesign201804.file.transmissionTask.TransmissionTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdesign201804.file.upload.FileBrowserActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>